{% extends 'base.html.twig' %}

{% block title %}Hello MentionsLegalesController!{% endblock %}

{% block body %}
<!-- section Mentions légales IOT -->
<section id="mentions-legales">
    <div class="container">
        <h2>Mentions légales IOT</h2>
        <p>Les mentions légales d'un site web lié à l'IoT fournissent des informations importantes sur l'entreprise ou l'individu qui gère le site, ainsi que sur les règles et réglementations qui s'appliquent à son utilisation. Voici ce que chaque section pourrait inclure :</p>
        
        <h3>1. Identification de l'éditeur :</h3>
        <p>Cette section identifie clairement qui est responsable du site web. Cela peut inclure le nom de l'entreprise ou de l'individu, ainsi que leurs coordonnées, telles que l'adresse postale, le numéro de téléphone et l'adresse e-mail.</p>
        
        <h3>2. Hébergement :</h3>
        <p>Cette section indique qui héberge le site web. Cela peut être une entreprise d'hébergement tiers, et leurs coordonnées seront fournies ici.</p>
        
        <h3>3. Propriété intellectuelle :</h3>
        <p>Cette section aborde les droits d'auteur et autres droits de propriété intellectuelle associés au contenu du site web, tels que les images, les textes et les logos.</p>
        
        <h3>4. Collecte de données personnelles :</h3>
        <p>Cette section explique comment les données personnelles des utilisateurs sont collectées, utilisées et protégées conformément aux lois sur la protection des données en vigueur.</p>
        
        <h3>5. Cookies :</h3>
        <p>Cette section informe les utilisateurs de l'utilisation de cookies sur le site web, et explique comment ils sont utilisés et comment les utilisateurs peuvent les gérer.</p>
        
        <h3>6. Conditions d'utilisation :</h3>
        <p>Cette section énonce les conditions générales d'utilisation du site web, telles que les règles d'accès et d'utilisation, ainsi que la responsabilité de l'utilisateur.</p>
        
        <h3>7. Clause de non-responsabilité :</h3>
        <p>Cette section limite la responsabilité de l'éditeur du site pour certains contenus ou actions des utilisateurs.</p>
        <h3>8. Loi applicable et juridiction compétente : </h3>
        <p>Cette section indique la loi qui régit le site web et la juridiction compétente en cas de litige.</p>
    </div>
</section>
{% endblock %}
